

nav{
    background-color: #faebd7;
  height: 70px;
  
}


nav ul{
    display: flex;
    list-style: none;
    justify-content: end;
    margin-top: -47px;
   color: blue;

}
nav li{
    padding: 20px;
}
ul:hover{
color: yellow;

}

.head {
    background-image: url(images/images\ background1.jpg);

    height: 400px;
    background-size: cover;
    background-position: center;
    
    text-align: center;
    padding-top: 100px;
    color: white;
   
   


}
.text{
    padding: 10px;
    color: blue;
    font-size: medium;
    font-weight: bold;
    font-style: italic;
}
.text h5{
    color: yellow;
}
.card-footer{
    background-color: blue;
}

#size{
 
    width: 400px;
}
#crust{
  
    width: 400px 
}
#topping {
    width: 400px     
}
#pizza-type{
    width: 400px  
    
}
.pizza{
    margin:25px;
    padding: 15px;
    
 
}
.col-md-3 {
 margin: 20px;
 border: solid gray ;
border-radius: 20px;
height: 330px;
width: fit-content;
box-shadow: 2px,3px 3px 3px gray;
align-items: center;
text-align: center;


}
#p1,
#p2,
#p3,
#p4,
#p5,
#p6{
    display: none;
}
.order{
    color: yellow;
}

.form-group{
    background-image: url(images/pizza\ \ background.webp);
    position: relative;
    background-repeat: repeat;
    color:white;
    font-size: medium;
    font-weight: 100;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

#quantity{
width: 400px
}
.one:hover,
.two:hover,
.three:hover,
.four:hover,
.six:hover{
color: blue;
}